{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <!-- CSS EXTENDS -->
    {% block style %}
    {% endblock style %}

    <!-- {% block meta %}
    {% endblock meta %} -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand">
            <img id="logo" src="{% static 'main/image/logo.png' %}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'main:profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'main:profile2' %}">Profile2</a>
                <a class="nav-item nav-link" href="{% url 'main:hobby' %}">Hobby</a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <footer id="contactperson">
        <div class="footer col">
                <h7>Contact Person :</h7>
                <div class="sosmed row">
                    <a href="https://www.instagram.com/ichadevii/"> 
                        <img id="instagram" src="{% static 'main/image/Instagram.png' %}" alt="Instagram Saya">
                    </a> 
                    <a href="https://www.line.me/ichadevii/">
                        <img  id="line" src="{% static 'main/image/Line.png' %}" alt="Line Saya">
                    </a>
                    <a href="http://twitter.com/annisadevin/"> 
                        <img  id="twitter" src="{% static 'main/image/Twitter.png'%}" alt="Twitter Saya">
                    </a> 
                    <a href="adevi.nurmalasari@gmail.com">
                        <img  id="email" src="{% static 'main/image/Email.png' %}" alt="Email Saya">
                    </a>
                </div>
        </div>
    </footer>
</body>
  
</html>
