{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    {% block style %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/homepage2.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% endblock style %}
    <title> SecondPage Kak PW </title>
</head>

<body>
    {% block content %}
    <section id="hobby">
       
        <div class="hobby col">
            <h4>HOBBY</h4>
            <h5>Cake Making Documentations</h5>
            <div class="kue1 row">
                <img id="kue" src="{% static 'main/image/Kue1.png' %}"/> 
                <img id="kue" src="{% static 'main/image/Kue2.png' %}"/> 
                <img id="kue" src="{% static 'main/image/Kue3.png' %}"/> 
                <img id="kue" src="{% static 'main/image/Kue4.png' %}"/> 
            </div>
            <div class="kue2 row">
                <img id="kue" src="{% static 'main/image/Kue5.png' %}"/> 
                <img id="kue" src="{% static 'main/image/Kue6.png' %}"/> 
                <img id="kue" src="{% static 'main/image/Kue7.png' %}"/> 
                <img id="kue" src="{% static 'main/image/Kue8.png' %}"/> 
            </div>
            <img id="asetoval4" src="{% static 'main/image/AsetOval4.png' %}"/>
            <img id="gelombang" src="{% static 'main/image/Gelombang2.png' %}" alt="asset">
        </div>
    </section>

    <section id="project">
        <div class="hobby col">
            <h4>PROJECT</h4>
            <div class="bool row">
                <img class="boolean" src="{% static 'main/image/bool1.png' %}" alt="Boolean">
                <img id="boolean2" src="{% static 'main/image/bool2.png' %}" alt="Boolean">
                <img class="boolean" src="{% static 'main/image/bool3.png' %}" alt="Boolean">
            </div>
            <a href="https://bit.ly/Boolean26Media2020"> 
                <img  id="booleanlink" src="{% static 'main/image/button2.png'%}" alt="Boolean26">
            </a> 
            <img id="asetoval3" src="{% static 'main/image/AsetOval3.png' %}" alt="asset">
        </div>
    </section>

    
    {% endblock content %}
</body>
</html>