{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    {% block style %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/homepage1.css' %}">
    {% endblock style %}
    <title> Hello World! </title>
</head>

<body>
    {% block content %}
    <div class="page1">
        <div class="tulisan">
            <h1> Hi! </h1>
            <h2> Annisa Devi Nurmalasari's here </h2> <br>
            <h3> | Fasilkom UI | </h3> <br>
        </div>
        <div class="foto">
            <img id="fotoku" src="{% static 'main/image/foto2.png' %}" alt="My Photo">
        </div>
    </div>
    <div class="page2">
        <div class="deskripsi">
            <h1 id="Aboutme"> Tentang Saya </h1>
            <p> Nama saya Annisa Devi Nurmalasari. Saya lahir tanggal 11 Desember 2000. Saya berasal dari Tangerang. Hobi saya ngidol. Saya sedang belajar PPW di Fasilkom. </p>
        </div>
        
        <div class="Datadiri">
            <div class="profile">
                <h1 id="judul"> Profile Saya </h1>
                <div class="profilekolommaster">
                    <div class="profilekolom1">
                        <h2 id="semijudul"> Nama </h2>
                        <h3 id="keterangan"> Annisa Devi Nurmalasari </h3>
                        <h2 id="semijudul"> NPM </h2>
                        <h3 id="keterangan"> 1906292894 </h3>
                        <h2 id="semijudul"> Angkatan </h2>
                        <h3 id="keterangan"> 2019 </h3>
                    </div>
                    <div class="profilekolom2">
                        <h2 id="semijudul"> Kuliah </h2>
                        <h3 id="keterangan"> Universitas Indonesia </h3>
                        <h2 id="semijudul"> Hobi </h2>
                        <h3 id="keterangan"> Youtube-an </h3>
                    </div>
                </div>
            </div>
            <div class="akademik">
                <h1 id="judul"> Akademik </h4>
                <table border="1">
                    <tr>
                        <td> Tahun </td>
                        <td> Nama Institusi </td>
                    </tr> 
                    <tr>
                        <td> 2006-2013 </td>
                        <td> SDN Sukasari 4 </td>
                    </tr>
                    <tr>
                        <td> 2013-2016 </td>
                        <td> SMPN 1 Kota Tangerang </td>
                    </tr>
                    <tr>
                        <td> 2016-2019 </td>
                        <td> SMAN 1 Kota Tangerang </td>
                    </tr>
                    <tr>
                        <td> 2019-Sekarang </td>
                        <td> Universitas Indonesia </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    {% endblock content %}
</body>

</html>