*{
    margin: 0;
    padding: 0;
}

/* Override navbar */
.navbar{
    background-color: #4E5F7B;
}

/* HOMEPAGE */
.homepage.col{
    background-color: #4E5F7B ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
    /* Text dan Foto */
    .middle.row{
        margin-left: 150px;
        margin-right: 150px;
        align-items: center;
        justify-content: center;
    }

            .text.col h1{
                
                font-weight: bolder;
                font-size: 100px;
            }
            .text.col h2{
                font-weight: normal;
                font-size: 30px;
            }
            .text.col h3{
                font-weight: lighter;
                font-size: 20px;
                padding-top: 20px
            }

            #button{
                margin-top: 30px;
                width: 109px;
                height: 30.31px;
            }
            
            #button:hover{
                opacity: 0.3;
            }

        #fotobesar{
            width: 436px;
            height: 372.24px;
            
        }

    /* ASSET REUSE */
    #gelombang{
        margin-top: -30px;
        width: 1441px;
        height: 199px;
        width: 1260px;
        margin-left: -17px;

    }

/* PROFILE */

.profile.col{
    background-color: #3C4960;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    /* JUDUL REUSE*/
    h4{
        padding-top: 50px;
        text-align: center;
        font-weight: bolder;
    }

    /* KONTEN */
    .kontenprofile.row{
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-left: 100px;
        margin-right: 100px;
        
    }
        /* DESKRIPSI KIRI */
        .deskripsi.col{
            padding-right: 100px;
            padding-left: 150px;
            
            
        }

            #fotokecil{
                width: 174.84px;
                height: 204.38px;
                margin-left: 40px;
                margin-right: 40px;
            }

            p{
                width: 250px;
                text-align: justify;
               padding-top: 20px;
               padding-bottom: 20px;
               font-weight: lighter;
            }

        /* RECTANGLE PEMBATAS */
        #rectangle1{
            width: 6px;
            height: 218px;  
            margin-left: -130px;
        }

        /* DATA DIRI KANAN */
        .datadiri.col{
            text-align: left;
            padding-left: 100px;
        }
            .datadiri h5{
                font-size: 15px;
            }
            .datadiri h6{
                font-weight: lighter;
            }

    /* ASET OVAL 1 */
    #asetoval1{
        margin-top: -550px;
        width: 1260px;
        height: 660px;
        margin-left: -17px;
    }

/* ACADEMICS */
 
.academics.col {
    background-color: #3C4960;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    
}

    /* KONTEN ACADEMICS */
    .kontenacademics.row{
        margin-left: 100px;
        margin-right: 100px;
        align-items: center;
        justify-content: center;
        
    }
        /* EDUCATION */
        .education.col{
            justify-content: center;
            align-items: center;
            padding-left: 150px;
            padding-right: 80px;
        }

            .education.col h4{
                text-align: left;
                padding-bottom: 20px;
                font-size: 20px;

            }

            .education.col h5{
                font-weight: lighter;
                font-size: 15px;
            }

            .education.col h6{
                font-weight: lighter;
                font-style: italic;
                padding-bottom: 50px;
                font-size: 10px;
            }

        #bulet2{
            width: 15px;
            height: 420px;
            padding-top: 50px;
        }
        /* EXPERIENCES */
        .experiences.col{
            justify-content: center;
            align-items: center;
            padding-left: 200px;
            font-size: 20px;
        }

            .experiences.col h4{
                padding-top: 54px;
                text-align: left;
                padding-bottom: 20px;
                font-size: 20px;
            }

            .experiences.col h5{
                font-weight: lighter;
                padding-bottom: 50px;
                font-size: 15px;
            }
    /* ASET OVAL 2 */
    #asetoval2{
        margin-top: -1187px;
        margin-left: -210px;
        width: 1460px;
        height: 782.45px;
        
    }
    #gelombang2{
        margin-top: -30px;
        width: 1441px;
        height: 199px;
        width: 1260px;
    }
/* SKILLS */
.kontenskills.row{
    background-color: #313C4F;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    

}
    /* SKILLS */
    #param1{
        width: 216.67px;
        height: 137.67px;
        margin-left: 260px;
        margin-top: -200px;
            
        }
        /* Tulisan Personalities */

        .personalities.col{
            padding-left: -150px;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        .personalities.col h4{
            padding-left: 85px;
            padding-bottom: 16px;
        }
        .personalities.col h5{
            padding-top: -100px;
            padding-bottom: 16px;
            padding-left: 260px;
            font-weight: lighter;
        }
    #param2{
        width: 219.64px;
        height: 240px;
        margin-right: 100px;
        margin-left: 110px;
        margin-top: -290px;
        }
        /* Tulisan Skills */
        .skills.col{
            margin-top: 100px;
            margin-bottom: 100px;
        }
        .skills.col h4{
            padding-right: 315px;
            padding-bottom: 16px;
        }
        .skills.col h5{
            padding-top: -100px;
            padding-bottom: 16px;
            padding-left: 110px;
            font-weight: lighter;
            
        }
/* ASET OVAL 23 */
#asetoval3{
    margin-top: -650px;
    margin-right: 1200px;
    width: 514.67px;
    height: 496.16px;
    
}


/* SECONDPAGE */
/* HOBBY */


.hobby.col{
            
    background-color: #3C4960;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;

}

    .hobby h5{
        margin-top: 20px;
        font-weight: lighter;
        text-align: center;
        font-style: italic;
    }
    .kue1.row{
        margin-top: 50px;
        justify-content: center;
        align-items: center;

    }
    .kue2.row{
        justify-content: center;
        align-items: center;

    }
        #kue{
            width: 188px;
            height: 334px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    #asetoval4{
        margin-top: -800px;
        width: 1395px;
        height: 900px;
        margin-left: -150px;
    }


/* PROJECT */
#project .hobby.col{
    background-color: #313C4F;
}
.bool.row{
    justify-content: center;
    align-items: center;
}

    .boolean{
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        width: 313px ;
        height: 221px;
    }
    #boolean2{
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        width: 156.12px;
        height: 221px;
    }
    #booleanlink{
        width : 462px;
        height: 44px;
        margin-left: 400px;
        margin-right: 400px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    #booleanlink:hover{
        opacity: 0.5;
    }
    .hobby.col #asetoval3{
        margin-top: -500px;
        margin-left: -200px;
        width: 514.67px;
        height: 496.16px;
    }


/* FOOTER */
/* Footer Override */
.footer.col{
    background-color: #4E5F7B;
}


@media only screen and (max-width: 500px) {
        /* Text dan Foto */
        .middle.row{
            margin-left: 30px;
            margin-right: 30px;
            
        }
                .text.col h1{
                    margin-top: 100px;
                    font-size: 70px;
                }
                .text.col h2{
                    font-size: 20px;
                }
                .text.col h3{
                    font-size: 15px;
                }
                
                #button:hover{
                    opacity: 0.3;
                }
    
            #fotobesar{
                margin-left: 140px;
                margin-top: -240px;
                width: 270px;
                height: 252.24px;
                
            }
    
            #gelombang{
                width: 500px;
                height: 100px;
            }
        
/* PROFILE */

    /* KONTEN */
    .kontenprofile.row{
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-right: 100px;
        
    }
        /* DESKRIPSI KIRI */
        .deskripsi.col{
            margin-left: -260px;   
        }

        /* RECTANGLE PEMBATAS */
        #rectangle1{
            width: 0px;
            height: 0px;
        }

        /* DATA DIRI KANAN */

        .kontenprofile.row{
            display: flex;
            flex-direction: column;
        }
        .datadiri.col{
            text-align: center;
            margin-left: -90px;
        }

    /* ASET OVAL 1 */
    #asetoval1{
        width: 0px;
        height: 0px;
    }

    /* ACADEMICS */

    /* KONTEN ACADEMICS */
        /* EDUCATION */
        .education.col{
            text-align: left;
            padding-left: 0px;
            padding-right: 0px;
            margin-top: -30px;
        }

        #bulet2{
            width: 0px;
            height: 0px;
        }
        /* EXPERIENCES */
        .experiences.col{
            margin-top: 35px;
            margin-left: 50px;
            padding-left: 0px;
            padding-right: 0px;
        }
        
    /* ASET OVAL 2 */
    #asetoval2{
        margin-top: -1187px;
        margin-left: -210px;
        width: 1460px;
        height: 782.45px;
        
    }
    
        /* SKILLS */
            /* Tulisan Personalities */
    
            .personalities.col{
                margin-left: -200px;
                margin-top: 100px;
                margin-bottom: 0x;
            }
            
            /* Tulisan Skills */
            .skills.col{
                margin-left: 50px;
                margin-top: -100px;
                margin-bottom: 100px;
            }
            .skills.col h4{
                padding-right: 250px;   
            }

    #booleanlink{
        width : 262px;
        height: 34px;
        margin-left: 100px;
        margin-right: 100px;
    }

}